extends common/_layout

block append head
  title 文化祭
  link(href="./assets/css/page1.css" rel="stylesheet")

block content
  include _page1_data
  img.top-img(class=["img-fluid"] src="./assets/img/top_back.png")
  #map(class="container-blue")
    h1(class=["text-center", "display-4", "fw-bold"]) MAP
    h2(class=["text-center"]) 校内マップ
    img.img(src="./assets/img/map.png")
    img.img(src="./assets/img/map2.png")
    .button-container(class=["back-blue"])
      a(
        href="map.pdf"
        class=["stretched-link"]
        target="_brank"
        rel="noopener noreferrer"
      ) PDFで見る
  #food(class="container-yellow")
    h1(class=["text-center", "display-4", "fw-bold"]) FOOD
    h2(class=["text-center"]) 飲食物情報
    .bullet-container
      h5 当日券について
      ul
        li
          | 当日券は9:30（OP終了後）から販売開始、
          br
          | 予定数に達し次第、終了。
        li
          | テイクアウト購入時のみに使用できます。
        li
          | 当日券は文化祭当日13:00まで使用可。
          br
          | ※13:00以降はキャンセルとみなし、返金はなし。
        li
          | 13:00～13:30からキャンセル分の再販開始。
      h5 ドリンク販売
      p.sub-bullet 場所
      p.sub-bullet-content 技芸棟前※レイアウト参照
      p.sub-bullet-content ただし大雨の場合　技芸棟1階に変更
      p.sub-bullet メニュー
      ul.sub-bullet-content
        each item in items.drink
          li.price-container
            span #{item.name}
            span #{item.price}
      h5 樹家
      p 食堂とテイクアウトの2つに分かれる。
      h6 1.食堂
      p.sub-bullet 場所
      p.sub-bullet-content 樹家食堂※レイアウト参照
      p.sub-bullet メニュー
      ul.sub-bullet-content
        each item in items.cafeteria
          li.price-container
            span #{item.name}
            span #{item.price}
      h6 2.テイクアウト
      p.sub-bullet 場所
      p.sub-bullet-content 校舎西側※レイアウト参照
      p.sub-bullet メニュー
      ul.sub-bullet-content
        each item in items.take_out
          li.price-container
            span #{item.name}
            span #{item.price}
      h5 キッチンカー
      p.sub-bullet 場所
      p.sub-bullet-content
        | 第一・第二校舎前
        br
        | ※レイアウト参照
      p.sub-bullet メニュー
      each shop in items.car
        p.sub-bullet-content(class=["fw-bold", "h6"]) #{shop.shop_name}
        ul.sub-bullet-content.shop-container
          each item in shop.items
            li.nested-price-container
              span #{item.name}
              if(item.price)
                span #{item.price}
      //-
        each item in items.car
          li.price-container.wide-price-container
            span #{item.name}
            span #{typeof item.price == 'string' ? item.price : item.price[0]}
          if typeof item.price != 'string'
            - for(const p of item.price.slice(1))
              li.price-container.wide-price-container.price-variation
                span #{p}
  #goods(class="container-mint")
    h1(class=["text-center", "display-4", "fw-bold"]) GOODS
    h2(class=["text-center"]) 物販情報
    img.img(src="./assets/img/goods.png")
    ul
      each item in items.goods
        li
          .price-container
            span #{item.name}
            span #{item.price}円
  .button-container(class=["back-mint"])
    a(href="./" class=["stretched-link"]) トップページへ
