extends common/_layout

block append head
  title 文化祭
  link(href="./assets/css/page2.css" rel="stylesheet")

block content
  include _page2_data
  img.top-img(class=["img-fluid", "logo"] src="./assets/img/top_back.png")
  #stage(class="container-green")
    h1(class=["text-center", "display-4", "fw-bold"]) STAGE
    h2(class=["text-center"]) ステージ情報
    .bullet-container
      h5 記念棟ステージ
      each program in kinento
        .program-container
          p.time-id(class=["fw-bold"])
            | #{program.time}（#{program.duration_minute}分）
          p.title #{program.title}
      p ※オープニング・エンディングは生徒のみ参加可能です。
      h5 白陵会館ホール
      p
        |白陵57期卒業生の岡坂郁杜様に「学生生活での取り組みから得られた成長」という題で講演していただきます。
        |岡坂郁杜様は在学中数々のプログラミング大会で好成績を収め、大阪大学情報科学科に進学されました。
      .spacer
      p
        |探究活動の発表、学年ごとに行われるEnglish Contest （英語による発表会）の発表をします。
      .spacer
      p
        |昼休憩の時間に、オープニングで流す放送部作成のOP動画を放映します。誰でも視聴可能ですのでぜひ立ち寄ってください！
      each program in kaikan
        .program-container
          p.time-id(class=["fw-bold"])
            | #{program.time}（#{program.duration_minute}分）
          p.title #{program.title}
  #event(class="container-sky")
    h1(class=["text-center", "display-4", "fw-bold"]) EVENT
    h2(class=["text-center"]) イベント情報
    .bullet-container
      h5 MVP
      p どの文化部が最も素晴らしい発表を行えたかを決めるMVP投票が今年も実施されます。
      p スタンプラリーでスタンプを10個以上集めた方にのみ投票権が与えられます。今年は展示、演技、体験の三部門に分けての実施です。
      p ぜひご参加ください。
      .spacer
      p 展示部門：歴研・生物・美術・文芸・書道・写真・天文・鉄研
      p 演技部門：吹奏楽・書道・化學・放送
      p 体験部門：将棋・数研・CPC・かるた・茶道・ESS
      h5 スタンプラリー
      p
        |今年もスタンプラリーが開催されます！
        |スタンプを10個以上集めるとMVP投票が可能です。
        |15個以上でクリア景品、全て集めるとコンプリート景品がもらえます。
        |シークレットスタンプもお見逃しなく！
        |条件を満たしたら1階自動販売機前で景品を受け取ってください！
      h5 謎解き
      p
        |刑事助手の皆さんお願いがあります！
        |白陵でミササギさんがサリチル酸カリウムを接種して倒れてしまいました！
        |シュンヤ刑事とリュウマ刑事と共に事件解決のために謎を解いて一緒に平和な白陵を取り戻しましょう！
  .button-container(class=["back-sky"])
    a(href="./" class=["stretched-link"]) トップページへ

